#title {
    text-align: center;
    font-size: 4em;
}

discover {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

discover * {
    /* post types */
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
}

discover * * {
    /* posts in post types along with type name */
    padding: 0.5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

discover * div {
    /* post type name */
    color: blanchedalmond;
}

.post {
    /* singular post */
    display: flex;
    flex-direction: column;
    text-overflow: ellipsis;
    flex: 1;
    align-items: baseline;
    width: calc(100%);
    border: 2px greenyellow solid;
    transition: border-color 2s, border-radius 2s;
}

.post:hover {
    border-color: blue;
    border-radius: 4px;
}

.post name,
.post content {
    padding: 0.2em;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100%);
}

@media only screen and (max-width: 600px) {
    discover * {
        display: flex;
        flex-direction: column;
    }
}
