<!DOCTYPE html>
<html>
    <!-- YOU CAN CHANGE the  <> BUT ANYTHING ON <%= %> PLS DONT CHANG -->
    <head>
        <title><%= title %></title>
        <link href="./post/style.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h1><%= title %></h1>
        <p><%= content %></p>
    </body>
</html>
